*{
    padding:0;
    margin:0;
}

.nav_container{
    background-color:#0472f0;
    display:flex;
    height:4rem;
}
.logo img{
    padding-top:0.5rem;
    height:3rem;
    padding-left:15rem
}
.searchbar_form{
    padding-top:.7rem;
    padding-left:8px;
}
.search_input{
    height:2.5rem;
    border:1px none white;
    border-radius:2px;
    width:30rem;
}
.searchbar_form i{
    color:blue;
    position:absolute;
    right:29rem;
    padding-top:3px;
}
.cart{
    padding-top:.9rem;
    padding-left:15rem;
}
.cart a{
    color:white;
    font-size:x-large;
    text-decoration:none;
}
.profile{
    /* padding-left:1rem; */
    /* padding-top:1rem; */
    /* display:flex;
    justify-content:right;
    align-items:right; */
    margin:auto;
}

#dashboard_logout{
    padding:6px;
    border-radius:5px;
    border:none;
}
#dashboard_logout:hover{
    cursor:pointer;
}

/*cart product css  */
.final_cart{
    display:flex;
    margin:2rem;
    justify-content:space-evenly;
}

.cart2{
    max-width:40rem;
    /* box-shadow:0 4px 10px 8px rgba(0,0,0,0.14); */
    height:auto;
}

.cart_product{
    display:flex;
    justify-content:space-between;
    padding:.5rem;
    padding-left:.5rem;
    border-bottom:1px dashed black;
}
.photo_container{
    width:7rem;
    height:7rem;
}
.product_photo{
    width:7rem;
    height:7rem;
}
.name_container{
    padding:3rem 1rem;
}
.quantity_container{
    width:5rem;
    padding-top:3rem;
    display:flex;
    justify-content:space-evenly;
}

.plusbutton{
    width:20px;
    height:20px;
    background-color:green;
    border:none;
    border-radius:3px;
    font-size:large;

}
.minusbutton{
    width:20px;
    height:20px;
    background-color:red;
    border:none;
    border-radius:3px;
    font-size:large;

}
.price_container{
    padding:3rem;
    width:4rem;
}
.delete_button{
    padding:1rem;
    padding-top:3rem;
    border:none;
}
.delete_image{
    width:20px;
    cursor:pointer;
    outline:0;
    border:none
}
.delete_image:focus {
    border: none;
    outline: none;
}


.total{
    box-shadow:0 4px 10px 8px rgba(0,0,0,0.14);
    width:20rem;
    padding:1rem 0;
    height:10rem;
}
.t_section{
    display:flex;
    justify-content:center;
}
.totalamount{
    font-size:22px;
    font-weight:800;
    opacity:0.5;
}

.price_section{
    padding: 1rem;
    display:flex;
    justify-content:space-between;
    font-size:15px;

}
.shipping_amount{
    padding: 1rem;
    font-size:15px;
    display:flex;
    justify-content:space-between;
}
.total_charge{
    padding:1rem;
    font-size:15px;
    display:flex;
    justify-content:space-between;
}
.checkout_division{
    margin-top:3rem;
    width:20rem;
}
.checkout_button{
    width:100%;
    padding:15px;
    border:none;
    cursor:pointer;
    border-radius:3px;
    color:white;
    background-color:#0472f0;
    font-size:large;

}

/* footer */
.footer{
    padding:1rem;
    background-color:black;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}
.footer p{
    color:white;
}