*{
    padding:0;
    margin:0;
}

.nav_container{
    background-color:#0472f0;
    display:flex;
    height:4rem;
}
.logo img{
    padding-top:0.5rem;
    height:3rem;
    padding-left:15rem
}
.searchbar_form{
    padding-top:.7rem;
    padding-left:8px;
}
.search_input{
    height:2.5rem;
    border:1px none white;
    border-radius:2px;
    width:30rem;
}
.searchbar_form i{
    color:blue;
    position:absolute;
    right:29rem;
    padding-top:3px;
}
.cart{
    padding-top:.9rem;
    padding-left:15rem;
}
.cart a{
    color:white;
    font-size:x-large;
    text-decoration:none;
}
.profile{
    padding-left:1rem;
    padding-top:1rem;
}

#dashboard_logout{
    padding:6px;
    border-radius:5px;
    border:none;
}
#dashboard_logout:hover{
    cursor:pointer;
}

#parent{
    display:flex;
    width:100%;
    justify-content:space-around;
}
#left-parent{
    width:50%;
}
#right-parents{
    width:30%;
}
#right-parent{
    width:100%;
    box-shadow:0 4px 10px 8px rgba(0,0,0,0.14);
    height:13rem;
    margin:1rem 0;
}
.details{
    display:flex;
    justify-content:center;
    padding:1rem 0;
}
.totalprice{
    display:flex;
    justify-content:space-between;
    padding:1rem;
}
.shippingprice{
    display:flex;
    justify-content:space-between;
    padding:1rem;

}
.totalamount{
    display:flex;
    padding:1rem;
    justify-content:space-between;
}
.address-form{
    margin:1rem 0;
    width:100%;
}
.input_box{
    padding:1rem;
    width:28rem;
    border:1px solid gray;
    border-radius:5px;
}
#state{
    width:30rem;
    padding:1rem;
    border:1px solid gray;
    border-radius:5px;
}
.country{
    width:30rem;
    
    display:flex;
}
.country_select{
    width:5rem;
    padding:1rem;
    border:1px solid gray;
    border-radius:5px;
}
.number{
    width:23rem;
    padding:1rem;
    border:1px solid gray;
    border-radius:5px;
}
.submit{
    padding:1rem;
    width:17rem;
    background-color:#0472f0;
    border:none;
    border-radius:2px;
    cursor:pointer;
}
form button{
    margin-left:7rem;
}

.payment{
    margin:1rem 0;
    padding:1rem 1rem;
    border:none;
    background-color:orange;
    border-radius:2px;
}
.proceed{
    padding:1rem 0;
    width:100%;
    cursor:pointer;
    border:none;
    background-color:#0472f0;
    border-radius:2px;
    font-size:large;
}


.thankusection {
    text-align: center;
    margin-top: 100px;
  }
  
  h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }