*{
    padding:0;
    margin:0;
}
.container{
    display:none;
    margin-top:1rem;
    justify-content:center;
    align-items:center;
}
.nav_container{
    background-color:#0472f0;
    display:flex;
    height:4rem;
    width:100%;
}
.logo{
    margin-left:15rem

}
.logo img{
    width:6rem;
    padding-top:0.5rem;
    height:3rem;
}
.searchbar_form{
    padding-top:.7rem;
    padding-left:8px;
}
.search_input{
    height:2.5rem;
    border:1px none white;
    border-radius:2px;
    width:30rem;
}
.searchbar_form i{
    color:blue;
    position:absolute;
    right:29rem;
    padding-top:3px;
}
.cart{
    padding-top:.9rem;
    padding-left:15rem;
}
.cart a{
    color:white;
    font-size:x-large;
    text-decoration:none;
}
.profile{
    padding-left:1rem;
    padding-top:1rem;
}

#dashboard_logout{
    padding:6px;
    border-radius:5px;
    border:none;
}
#dashboard_logout:hover{
    cursor:pointer;
}
.heading{
    display:flex;
    justify-content:center;
}
.heading .heading_title{
    
}

.watch_container{
    width:99%;
    margin-top:2rem;
    margin-bottom:5rem;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    height:auto;
}
.watch_container .card{
    width:18rem;
    box-shadow:0 4px 10px 8px rgba(0,0,0,0.10);
    border-radius:5px;
    border:none;
    margin:.7rem 0;
    height:66vh;
    overflow:hidden;
}
.card_image{
    height:45vh;

}
.imgg{
    padding:1rem;
    width:16rem;
    height:16rem;
    object-fit:cover;
    
}
.card_image .imgg:hover{
    transition:.6s;
    transform:scale(1.2);
    
}
.card_details{
    padding:.7rem;
}
.card_price{
    display:flex;
    padding-left:.7rem;
    font-size:large;
    
}
.msg{
    opacity:.7;
    padding-left:.7rem;
    font-size:small;
    padding-top:.5rem;
}

/* footer */
.footer{
    padding:1rem;
    background-color:black;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}
.footer p{
    color:white;
}
