.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:80vh;
}
.thankusection{position: relative; float:left; width: 50%; background: #f2f2f2; line-height:3rem; padding:50px; margin:30px 0;box-sizing: border-box;}
.thankusection::before,
.thankusection::after { z-index: -1; position: absolute; content: ""; bottom: 15px; left: 10px; width: 50%; top: 80%; max-width: 300px; background: #777; -webkit-box-shadow: 0 15px 10px #777; -moz-box-shadow: 0 15px 10px #777; box-shadow: 0 15px 10px #777; -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg); -o-transform: rotate(-3deg); -ms-transform: rotate(-3deg); transform: rotate(-3deg);}
.thankusection::after { -webkit-transform: rotate(3deg); -moz-transform: rotate(3deg); -o-transform: rotate(3deg); -ms-transform: rotate(3deg); transform: rotate(3deg); right: 10px; left: auto;}

.thankusection h1{
    text-align:center;
}
.thankusection p{
    font-size:large;
    text-align:center;
}
#order_id{
    font-weight:800;
}
.thankusection i{
    display:flex;
    justify-content:center;
}