.main-alert{
    margin-top:1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    border:none;
    height:2.5rem;
}
.success-alert{
    
    max-width: 20rem;
    padding: 10px;
    background-color:#24f719;
    color:white;
    border-radius:5px;
    box-shadow:0 4px 10px 8px rgba(0,0,0,0.15);

}
.fail-alert{
    max-width: 20rem;
    padding: 10px;
    background-color:red;
    color:white;
    border-radius:5px;
    box-shadow:0 4px 10px 8px rgba(0,0,0,0.15);
}
.error{
    display:flex;
    justify-content:center;
    /* item-self:center; */
    height:3rem;
}
.error-message{
    padding:5px;
    color:red;

}

*{
    padding:0;
    margin:0;
}
body{
    /* position:relative; */
}


.maincontainer{
    justify-content:center;
    display:flex;
    width:70%;
    height:23.6rem;
    margin:auto;
    margin-top:8%;
    border-radius:10px;
    box-shadow:0 4px 10px 8px rgba(0,0,0,0.15);
}
.photocontainer{
    width:50%;
    height:23.6rem;
    overflow:hidden;

}

.image_section{
    width:100%;
    height:23.6rem;
    object-fit:cover;
    border-radius:10px 0 0 10px;
}
#photoo{
    width:50%;
    height:23.6rem;
    overflow:hidden;
}
#photoo_c{
    width:100%;
    height:23.6rem;
    object-fit:cover;
    border-radius:10px 0 0 10px;

}
.logincontainer{
    width:50%;
    margin:20px 0;
    padding-left:20px;
    padding-top:10px;
    
}
.login_description{
    /* font-weight:200; */
    opacity:0.4;
}
.logincontainer form{
    width:90%;
}
#signup{
    margin:20px 0px;
}
.label{
    font-weight:medium;
    margin-bottom:5px;
}
.input_box{
    width:90%;
    padding:8px;
    border:1.5px solid cornflowerblue;
    border-radius:20px;
    margin-bottom:15px;
}
#input_icon{
    position:absolute;
    right:270px;
    padding-top:8px;
}
.button{
    width:100%;
}
.login{
    padding:7px;
    width:45%;
    border-radius:20px;
    background-color:blue;
    border:1px solid blue;
    color:white;
    box-shadow:0 4px 10px 4px rgba(0,0,0,0.20);
    margin-right:10px;
    max-height:33px;
    cursor:pointer;

}
.signup{
    padding:7px;
    width:45%;
    border-radius:20px;
    border:1px solid blue;
    cursor:pointer;

}
.signup a{
    color:blue;
    text-decoration:none;
}
.sign{
    padding:7px;
    width:45%;
    border-radius:20px;
    background-color:blue;
    border:1px solid blue;
    color:white;
    box-shadow:0 4px 10px 4px rgba(0,0,0,0.20);
    margin-right:10px;
    cursor:pointer;

}

.log{
    padding:7px;
    width:45%;
    border-radius:20px;
    border:1px solid blue;
    cursor:pointer;

}
.log a{
    text-decoration:none;
    color:blue;

}
.linkk{
    color:red;
    text-decoration:none;
}
.last_p{
    font-size:13px;
}
.forget-link{
    color:red;
    text-decoration:none;
    margin-left:12rem;
}