*{
    padding:0;
    margin:0;
}

.nav_container{
    background-color:#0472f0;
    display:flex;
    height:4rem;
}
.logo img{
    padding-top:0.5rem;
    height:3rem;
    padding-left:15rem
}
.searchbar_form{
    padding-top:.7rem;
    padding-left:8px;
}
.search_input{
    height:2.5rem;
    border:1px none white;
    border-radius:2px;
    width:30rem;
}
.searchbar_form i{
    color:blue;
    position:absolute;
    right:29rem;
    padding-top:3px;
}
.cart{
    padding-top:.9rem;
    padding-left:15rem;
}
.cart a{
    color:white;
    font-size:x-large;
    text-decoration:none;
}
.profile{
    padding-left:1rem;
    /* padding-top:1rem; */
    /* display:flex;
    justify-content:right;
    align-items:right; */
    margin:auto;
}

#dashboard_logout{
    padding:6px;
    border-radius:5px;
    border:none;
}
#dashboard_logout:hover{
    cursor:pointer;
}
.main_div{
}