*{
    padding:0;
    margin:0;
}
.nav_container{
    background-color:#0472f0;
    display:flex;
    height:4rem;
}
.logo img{
    padding-top:0.5rem;
    height:3rem;
    padding-left:15rem
}
.searchbar_form{
    padding-top:.7rem;
    padding-left:8px;
}
.search_input{
    height:2.5rem;
    border:1px none white;
    border-radius:2px;
    width:30rem;
}
.searchbar_form i{
    color:blue;
    position:absolute;
    right:28rem;
    padding-top:3px;
}
.cart{
    padding-top:.9rem;
    padding-left:15rem;
}
.cart a{
    color:white;
    font-size:x-large;
    text-decoration:none;
}
.profile{
    padding-left:1rem;
    padding-top:1rem;
}

#dashboard_logout{
    padding:6px;
    border-radius:5px;
    border:none;
}
#dashboard_logout:hover{
    cursor:pointer;
}
#details{
    padding:1rem 0;
    display:flex;
    justify-content:space-between;

}
.photocontainer{
    width:50rem;
    height:80vh;
}
.photocontainer .img{
    height:100%;
    width:100%;
    object-fit:contain;
}
.productdetailcontainer{
    padding-left:1rem;
    padding:2rem 0;
}
.productname .product_title{
    font-size:x-large;
    font-weight:800;
}
.productdescription{
    padding-top:1rem;
    
}
.ratingcontainer{
    /* background-color:blue; */
    padding-bottom:1rem;
    display:flex;
}
.rate{
    padding:.3rem;
    padding-right:2rem;
    background-color:forestgreen;
    color:white;
    border:none;
    border-radius:10%;
}
.icon{
    position:absolute;
    padding-left:1.9rem;
    padding-top:.2rem;
    color:white;
    width:20px;
}
.productprice{
    display:flex;
}
.price_place{
    font-size:xx-large;
    font-weight:400;
}
.beforeprice{
    font-size:xx-large;
    font-weight:400;
}

.description{
    padding:1rem 0;
    margin:1rem 0;
}
.buyproduct{
    width:40rem;
    display:flex;
    justify-content:space-evenly;
}
.atc{
    width:45%;
    padding:1rem;
    cursor:pointer;
    background-color:orange;
    border:none;
    border-radius:2px;
}
.bn{
    width:45%;
    padding:1rem;
    cursor:pointer;
    background-color:tomato;
    border:none;
    border-radius:2px;
}



/* footer */
.footer{
    padding:1rem;
    background-color:black;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}
.footer p{
    color:white;
}